<template name="widget_Player">
    <div class="ui tabular menu playerContainerTab">
        <div class="active item" data-tab="tab-Player">Player</div>
        <div class="item" data-tab="tab-Playlist">Playlist</div>
    </div>
    <div class="ui tab" data-tab="tab-Player">
        <div id="_playerContainer" class="video-js-responsive-container"></div>
    </div>
    <div class="ui tab" data-tab="tab-Playlist">
        <div class="ui grid">
            <div class="wide column">
                <div class="ui fluid action input">
                    <input type="text" placeholder="Url Video..." {{b "value : videoUrl"}}>
                    <div class="ui button" {{b "enabled : isValidUrl,click: getVideo"}}>Get</div>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="tabs-content">
        <div class="content active" id="panel_Player">

        </div>
        <div class="content" id="panel_Playlist">
            <div class="row">
                <div class="medium-12 columns">
                    <div class="row collapse">
                        <div class="medium-11 columns">
                            <input type="text" placeholder="Url video" {{b "value : videoUrl"}}>
                        </div>
                        <div class="medium-1 columns">
                            <button {{b "enabled : isValidUrl,click: getVideo"}} class="button postfix">Get</button>
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="medium-12 columns">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</template>