<template name="defaultNav">
    <div class="ui menu">
        <div class="header item">
            <a href="{{pathFor 'home'}}">Tube Chat XYZ</a>
        </div>
        <a class="item btnNewRoom" href="#">
            Create a Room
        </a>
        <a class="item">
            Jobs
        </a>
        <a class="item">
            Locations
        </a>

        <div class="right menu">
            {{#if currentUser}}
                <div class="ui dropdown item">
                    Welcome, {{currentUser.username}} <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item btnLogout">Logout</a>
                    </div>
                </div>
            {{else}}
                <a href="{{pathFor 'signIn'}}" class="item {{isActiveRoute 'signIn'}}">Login</a>
                <a href="{{pathFor 'signUp'}}" class="item {{isActiveRoute 'signUp'}}">Register</a>
            {{/if}}
        </div>
    </div>
</template>